

/*Possible use for having background on carousel*/
/*
.carousel-caption{
	max-width: 100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;
}
*/

.center{
	text-align: center;
	margin: auto;
	vertical-align: middle;
}

.row-underline{
	border-bottom: 1px solid black;
}
.row-underline:last-of-type{
	border-bottom: none;
}
.menuImage{
	height: 128px;
	min-width: 128px;
}
.row{
	margin-bottom: 10px;
}
.container{
	padding: 10px;
}
.large-container{
	margin: 20px;
}
.image-container{
	margin-bottom: 10px;
}

.defaultLink{
	color: black;
	font-size: 20px;
}

.homeBottomHeader{
	margin-bottom: 30px;
	margin-top: 30px;
}

.bottomContainer{
	margin-top: 30px;
}

.bottomLink{
	display: inline-block;
}

#map{
	width:100%;
	height: 600px;
}
